@charset 'UTF-8';

.searchinput {
    float: inherit;
    padding-top: 65px;
    margin-left: 310px;
}

.typelist {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
}

.typelist li {
    cursor: pointer;
    width: 228px;
    height: 35px;
    padding: 0 15px;
    float: left;
    border: 1px solid #e5e5e5;
    /*border-top: none;*/
    /*border-right: none;*/
    height: 36px;
    line-height: 36px;
}

.typelist a img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-right: 5px;
}

.typelist a span {
    vertical-align: bottom;
    line-height: 30px;
}

.VoteCountTh,tbody img, #resetbtn {
    cursor: pointer;
}

#firstPage, #prevPage, #nextPage, #lastPage {
    margin: 5px;
    cursor: pointer;
}

#company {
    width: 99%;
    text-align: center;
    color: #428bca;
    position: absolute;
    margin-top: 5%;
}

.bg {

}

/*弹出窗口显示大图效果*/
.bg {
    text-align: center;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 130%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.88);
}

.bg img {
    padding: 2%;
    z-index: 1002;
    width: 650px;
    height: 550px
}

#messageTable th {
    background-color: #428bca;
    text-align: center;
}

#messageTable th h3 {
    cursor: pointer;
    font-size: 16px;
    margin: 0px;
}

#messageTable th:nth-child(7) h3, #messageTable th:nth-child(8) h3 {
    background: url(../images/sort.gif) 7px center no-repeat;
}

#messageTable td {
    vertical-align: middle;
    text-align: center;
}

#messageTable td:nth-child(1) {
    min-width: 5%;

}

#messageTable td:nth-child(2) {
    min-width: 7%;
}

#messageTable td:nth-child(3) {
    min-width: 8%;
}

#messageTable td:nth-child(4) {
    min-width: 11%;
}

#messageTable td:nth-child(5) {
    min-width: 6%;
}

#messageTable td:nth-child(6) {
    text-align: left;
    min-width: 38%
}

#messageTable td:nth-child(7) {
    min-width: 10%;
}

#messageTable td:nth-child(8) {
    min-width: 8%;
}

#tablenav li {
    padding: 3px;
    border: 1px solid #e5e5e5;
    background: #fff;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-right: 7px;
    list-style: none;
}

#tablenav li a {
    text-decoration: none;
}

#tablefooter a:hover {
    color: red;
}

#tablenav ul {
    /*display: inline-block;*/
    padding-left: 0px;
}

.page {
    line-height: 28px;
    color: #428bca;
}

